*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


}

p, label {
    font-family: 'Open Sans', sans-serif;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes fadeFromLeft {
    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes slideTopIn {
    to {
        top: 30%;
    }
}

@keyframes scaleRight {
    to {
        transform: scaleX(1)
    }
}

@keyframes scaleUp {
    to {
        transform: scaleX(1)
    }
}

@keyframes lineDown {
    0% {
        transform: scale(1, 0);
        transform-origin: top center;
    }
    
    25% {
        transform: scale(1, 1);
        transform-origin: top center;
    }

    75% {
        transform: scale(1, 1);
        transform-origin: top center;
    }

    76% {
        transform: scale(1, 1);
        transform-origin: bottom center;
    }

    100% {
        transform: scale(1, 0);
        transform-origin: bottom center;
    }

}

@keyframes arrowDown {
    0% {
        bottom: 25px;
    }

    30% {
        bottom: 15px;
        opacity: 1;
    }

    70% {
        bottom: 10px;
        opacity: 1;
    }

    100% {
        bottom: 5px;
        opacity: 0;
    }

}

@media screen and (min-width: 320px){

    .db-page-wrapper, .db-preloader {
        width: 100%;
        height: 100vh;
        display: table;
        background-image: url('../images/backgrund.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center ;
        background-color: #7E3F23;
        border: 30px solid #000;
    }

    .db-page-wrapperr {
        width: 100%;
        height: 100vh;
        display: table;
        background-color: #7E3F23;
        border: 30px solid #000;
    }

    .db-preloader {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;

    }

    .db-preloader-inner {
        margin-top: -45px;
    }

    .db-topbar {
        position: fixed;
        z-index: 900;
    }

    .db-overlay {
        width: 100%;
        height: 100vh;
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        background-color: #7e3e2375;
    }

    .db-modal {
        width: 800px;
        display: none;
        padding: 30px;
        border-radius: 0 30px 30px 30px;
        position: fixed;
        top: -130%;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 1200;
        background-color: #000;

    }

    .db-modal-header, .db-modal-body .db-form {
        width: 100%;
        display: table;
        position: relative;
    }

    .db-close-modal {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        color: black;
        text-align: center;
        line-height: center;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #7E3F23;
    }

    .db-form label {
        margin-bottom: 10px;
        font-size: 16px;
        display: inline-block;
    }

    .db-field, .db-textarea {
        width: 100%;
        background-color: #212121;
        border-radius: 4px;
        color: #fff;
        border: none;
        font-size: 14px;
        text-indent: 15px;
    }

    .db-field {
        height: 45px;
    }

    .db-logo img {
        width: 100px;
        height: 100px;
        float: left;
        margin-left: 60px;
        border-radius: 0 0 25px 25px;

    }

    .db-menu {
        display: none;
    }

    .db-btn-contact {
        width: 45px;
        height: 45px;
        display: block;
        background-color: #7E3F23;
        background-image: url('../images/icon-contact-close.svg');
        background-repeat: no-repeat;
        position: fixed;
        bottom: 45px;
        right: 45px;
        border-radius: 50%;
        z-index: 200;
        transition: all 0.2 ease-out;
        border: none;
        cursor: pointer;

    }

    .db-contatct-info {
        width: 300px;
        height: 200px;
        padding: 30px;
        position: fixed;
        bottom: 45px;
        right: 45px;
        z-index: 200;
        border-radius: 15%;
        background-color: #000;
        display: none;
    }

    .db-block {
        display: block;
    }

    .db-contatct-info p {
        font-size: 16px;
        line-height: 24px;
    }

    .db-social-links {
        width: 100%;
        height: 45px;
        display: block;
        margin-top: 7px;
    }

    .db-social {
        width: 35px;
        height: 35px;
        display: inline-block;

    }

    .db-social > img {
        width: 24px;
        height: auto;
        display: block;
        margin: 12px auto 0;


    }

    /* home */

    .db-display-text {
        margin-top: 25%;
    }

    .db-scroll-down {
        width: 70px;
        height: 150px;
        border-radius: 35px;
        background-color: #7E3F23;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .db-arrow-down {
        width: 100%;
        height: 110px;
        display: table;
        margin-top: 30px;
        position: relative;
    }

    .db-arrow-down img {
        width: 16px;
        height: 10px;
        display: block;
        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 0;
        animation: arrowDown 1.5s linear 1.5s infinite;
    }

    .db-arrow-down::before {
        content: '';
        width: 2px;
        height: 80px;
        display: block;
        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: #000;
        animation: lineDown 1.5s ease-out infinite;
        transform-origin: top center;
    }


    .db-portifolio-navigator {
        width: 150px;
        height: 400px;
        display: table;
        position: absolute;
        left: 90px;
        top: 28vh;
    }

    .db-navigator-counter {
        width: 100%;
        right: 90px;
        display: block;
        margin-bottom: 60px;
        position: relative;
    }
    
    .db-navigator-counter:before {
        content: '';
        display: block;
        width: 35px;
        height: 100%;
        background-color: #7E3F23;
        position: absolute;
        top: 0;
        left: 0;
    }
    

    .db-navigator-counter span {
        font-family: 'Open Sans', sans-serif;
        font-size: 120px;
        font-weight: 600;
        line-height: 90px;
    }

    .db-item-navigator {
        width: 100%;
        display: table;
    }

    .db-item-navigator a {
        width: 20px;
        height: 2px;
        display: block;
        margin-bottom: 80px;
        background-color: #000;
        margin-left: -55px;
    }

    .db-item-navigator a.db-item-active {

        background-color: #212121;
    }


    .db-item-navigator a:last-child {
        margin-bottom: 30px;
    }

    .db-itens-next-prev {
        width: 100%;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -90px;
        background-color: #000;
        border-radius: 23px;
    }

    .db-itens-next-prev > div {
        height: 25px;
    }

    .db-itens-couter {
        font-family: 'Open sans', sans-serif;
        color: #212121;
        line-height: 25px;
    }

    .db-item-prev, .db-item-next {
        width: 45px;
        color: #7E3F23;
        text-align: center;
        cursor: pointer;
    }

    .db-itens-couter span:nth-child(1) {
        color: #7E3F23;
    }

    ion-icon {
        font-size: 26px;
    }

    .db-slider-container {

        display: block;
        overflow: hidden;
    }

    .db-slider-list {
        width: auto;
        height: 700px;
        display: block;

        list-style: none;
    }

    .db-slider-list .db-slider-item {
        display: block;
        float: left;
        height: 500px;
        margin-top: calc(26vh - 75px);
    }

    .db-portfolio-list .db-portfolio-item {
        margin-bottom: 100px;
    }

    .db-slider-list .db-portfolio-item-info {
        width: calc(100% - 75px);
        display: table;
        margin-top: 75px;
        position: relative;
        opacity: 0;
        left: 75px;
    }

    .db-portfolio-list .db-portfolio-item-info {
        width: calc(100% - 105px);
    }

    .db-portfolio-list {
        list-style: none;
    }


    .db-slider-list .db-portfolio-item-thumb, .db-portfolio-list .db-portfolio-item-thumb {
        width: 100%;
        display: table;
        padding: 75px 0 20px 0;
        position: relative;

    }

    .db-slider-list .db-portfolio-item-thumb > button, .db-portfolio-list .db-portfolio-item-thumb > button {
        margin-top: 16px;
        margin-right: 75px;
        float: right;
    }

    .db-slider-list .db-portfolio-item-box {
        width: 100%;
        height: 100%;
        display: block;
        background-color: #2c1c14;
        position: absolute;
        top: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: right;
    }

    .db-portfolio-list .db-portfolio-item-box {
        width: 100%;
        height: 100%;
        display: block;
        background-color: #2c1c14;
        position: absolute;
        top: 0;
        left: 0;
    }

    .db-slider-list .db-portfolio-item-thumb img {
        width: 100%;
        max-width: 100%;
        height: auto;
        position: relative;
        left: -75px;
        transform: scale(0);
    }

    .db-portfolio-list .db-portfolio-item-thumb img {
        width: 100%;
        max-width: 100%;
        height: auto;
        position: relative;
        left: -75px;
    }



    /* --home portfolio-- */

    .db-section-offset-top {
        margin-top: 130px;

    }

    .db-portfolio-list .db-portfolio-item:nth-child(odd) .db-portfolio-item-info{
        text-align: right; 
        margin-top: 65px; 
    }

    .db-portfolio-list .db-portfolio-item:nth-child(odd) .db-portfolio-item-info button{
        float: right;
    }

    .db-portfolio-list .db-portfolio-item:nth-child(even) .db-portfolio-item-info{
        margin-left: 105px;
    }

    .db-portfolio-list .db-portfolio-item:nth-child(even) > .row {
        flex-direction: row-reverse;

    }

    .db-portfolio-list .db-portfolio-item:nth-child(even) .db-portfolio-item-thumb button{
        float: left;
        margin-left: 75px;
    }

    .db-portfolio-list .db-portfolio-item:nth-child(even) .db-portfolio-item-thumb img {
        left: 75px;
    }


    #db-avatar-sobre img {
        position: relative;
        left: -15px;

    }

    .db-hero {
        height: 600px;
        background-image: url('../images/backgrund.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: block;
    }

    .db-hero-inner {
        height: 500px;
        
    }

    .db-hero-inner-content {
        position: relative;

    }

    .db-hero-inner-content::before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: #7e3e238e;
        display: block;
        position: absolute;
        left: -30px;
        top: -30px;
        box-sizing: content-box;
        padding: 30px;
    }
    
    .db-pgiz {
        z-index: 600;
    }

    .db-project-stats {
        width: 100%;
        height: 100%;
        display: table;
        border-right: 2px solid #000;
    }



}


@media screen and (min-width: 576px){

}

@media screen and (min-width: 768px){

}

@media screen and (min-width: 992px){

    .db-menu {
        display: table;
        height: 10px;
        margin-left: 200px;

    }

    .db-menu a {
        font-family: 'Open Sans';
        font-size: 18px;
        color: #fff;
        text-decoration: none;
        text-transform: lowercase;
        display: inline-block;
        margin: 50px 20px 0 20px;
        font-weight: 400;
        position: relative;
    }

    .db-menu a:first-child {
        margin-left: 0;
    }

    .db-menu a:hover {
        color: #7E3F23;
    }

    .db-menu a:before {
        content: '';
        width: 100%;
        height: 4px;
        background-color: #7E3F23;
        display: block;
        position: absolute;
        bottom: -5px;
        left: 0;
        transition: all 0.2s ease-out;
        transform: scale(0, 1);
        transform-origin: center left;
    }

    .db-menu a:hover:before {
        transform: scale(1, 1);
    }


}

@media screen and (min-width: 1200px){

}

@media screen and (min-width: 1364px){

}

@media screen and (min-width: 1600px){

}

/* Botoes */

.db-btn {
    display: table;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border: none;
    transition: all 0.2s ease-out;
    text-transform: lowercase;
    position: relative;
}

.db-btn ion-icon {
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 2px;
    margin-top: -3px;
}

ion-icon {
    color: #7E3F23;
  }

.db-btn-block {
    display: block;
    width: 100%;
}


.db-btn-small {
    height: 28px;
    line-height: 28px;
    padding: 0 20px;
    border-radius: 14px;
    font-size: 12px;
}

.db-btn-medium {
    height: 38px;
    line-height: 38px;
    padding: 0 30px;
    border-radius: 19px;
    font-size: 18px;
}


.db-btn-large {
    height: 45px;
    line-height: 45px;
    padding: 0 35px;
    border-radius: 24px;
    font-size: 24px;
}

.db-btn-brown {
    background-color: #000;
    color: #7E3F23;
}

.db-btn-brown:hover {
    background-color: rgb(141, 141, 141);
    color: #2c1c14;
}

.db-btn-black {
    background-color: #7E3F23;
    color: #000;
}

.db-btn-black:hover {
    background-color: rgb(87, 71, 71);
    color: #da987c;
}

/* Classes Utilitarias */

.db-title {
    font-family: 'Abril Fatface', serif;
    font-weight: normal;
}

.db-title-xlarge {
    font-size: 300px;
}

.db-title-big {
    font-size: 66px;
}

.db-title-mid {
    font-size: 26px;
}

.db-title-tt {
    font-size: 48px;
}

.db-title-t {
    font-size: 32px;
}

.db-title-miid {
    font-size: 77px;
}

.db-text-center {
    text-align: center;
}

.db-post p{
    margin-bottom: 15px;
}

.db-post-section {
    width: 100%;
    display: table;
    padding: 45px 0;
}

.db-text-brown {
    color: #7E3F23;
}


.db-text-dark {
    color: #4d4d4d;
}


.db-text-light {
    color: #bcbcbc;
}

.db-text-black {
    color: #000;
}

.db-bg-brown {
    color: #7E3F23;
}


.db-bg-dark {
    color: #4d4d4d;
}


.db-bg-jight {
    color: #bcbcbc;
}

.db-bg-black {
    color: #000;
}

.db-mar-15 {
    margin: 15px;
}

.db-mar-top-15 {
    margin-top: 15px;
}

.db-mar-right-15 {
    margin-right: 15px;
}

.db-mar-bottom-15 {
    margin-bottom: 15px;
}

.db-mar-left-15 {
    margin-left: 15px;
}

.db-pad-15 {
    padding: 15px;
}

.db-pad-top-15 {
    padding-top: 15px;
}

.db-pad-right-15 {
    padding-right: 15px;
}

.db-pad-bottom-15 {
    padding-bottom: 15px;
}

.db-pad-left-15 {
    padding-left: 15px;
}

.db-mar-30 {
    margin: 30px;
}

.db-mar-top-30 {
    margin-top: 30px;
}

.db-mar-top {
    margin-top: calc(26vh - 75px);
}

.db-mar-top-45 {
    margin-top: 75px;
}

.db-mar-right-30 {
    margin-right: 30px;
}

.db-mar-bottom-30 {
    margin-bottom: 30px;
}

.db-mar-left-30 {
    margin-left: 30px;
}

.db-pad-30 {
    padding: 30px;
}

.db-pad-top-30 {
    padding-top: 30px;
}

.db-pad-right-30 {
    padding-right: 30px;
}

.db-pad-bottom-30 {
    padding-bottom: 30px;
}

.db-pad-left-30 {
    padding-left: 30px;
}

.db-full-height {
    height: 100vh;
    position: relative;
}

.db-fisrst-section {
    height: calc(100vh - 30px);
}

.db-no-padding {
    padding: 0 !important;
}

/* Classes de Comportamento */

.db-is-open {
    display: block;
}

.db-slide-top-in {
    animation: slideTopIn 0.6s forwards cubic-bezier(0,1.11,.6,.89);
}

.db-change-icon {
    background-position-y: -45px;
}

.db-fade-out {
    animation: fadeOut 2s forwards ease-out;
}

.db-fade-from-left {
    animation: fadeFromLeft 2s 0.4s forwards cubic-bezier(.22,.95,.22,.95);
}

.db-scale-right {
    animation: scaleRight 0.7s 0.2s forwards cubic-bezier(.22,.95,.22,.95);
}

.db-scale-up {
    animation: scaleUp 0.5s 0.5s forwards cubic-bezier(.22,.95,.22,.95);
}

.db-no-radius-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.db-no-radius-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.red {
    background-color: red;
}


.purple {
    background-color: purple;
}


.blue {
    background-color: blue;
}


.yellow {
    background-color: yellow;
}


.green {
    background-color: green;
}

.db-box-img {
    width: 100%;
    display: table;
}

.db-img-responsive {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

.db-page-list {
    list-style: none;
    font-family: 'Open sans', sans-serif;

}
.db-page-list > li {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 15px;
    padding-left: 20px;
    position: relative;
}

.db-page-list > li::before {
    content: '';
    width: 9px;
    height: 9px;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: 0;
    background-color: #2c1c14;
}